.catalog-box {
  max-height: 50vh;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
}

.catalog-search {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}